<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Flexiflow</title>
        <style type="text/css">
            html, body {
                font:normal 12px verdana;
                margin:0;
                padding:0;
                border:0 none;
                overflow:hidden;
                height:100%;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/bundles/flexiflow/css/login.css" />
    </head>
    <body>
        <div id="page">
            <form action="login_check" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                <input type="submit" id="login_submit" name="login" />
            </form>
            {% if error %}
                <div id="result">{{ error }}</div>
            {% endif %}
        </div>
    </body>
</html>
